.tabla-resultados {
  border-collapse: collapse;
  background-color: white;
  margin-top: 15px;
  width: auto; /* Se ajusta al contenido */
  max-width: 100%; /* No se sale del contenedor */
}

.tabla-resultados th,
.tabla-resultados td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap; /* Evita que el texto se corte */
}

.tabla-resultados th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tabla-contenedor {
  overflow-x: auto; /* Scroll horizontal si se excede */
}


body {
   font-family: garamond, Cambria;
   background: linear-gradient(to right,#a5d6a7, #81c784);
   margin: 0;
   padding: 0;
   color:rgb(0, 0, 0);
}

#tituloPrincipal {
  font-size: 3em;
  color: #000000;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}

#Relleno {
   font-family: garamond, Cambria;
   background: linear-gradient(to right,#a5d6a7, #81c784);
   margin: 0;
   padding: 0;
   color: #a5d6a7;
}
.Contenido{
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}
.contenido {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    gap: 20px;
    background: (250, 250, 250);
    padding: 20px;
}

nav button{
    background: #003d12;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
nav a{

   background: #003d12;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}


@media (max-width: 600px) {
    nav{
        align-items: center;
    }
}

